<table id="character_ability_scores">
    <tr><td>Str</td><td><%= f.text_field :strength, :size => 2 %></td></tr>
    <tr><td>Con</td><td><%= f.text_field :constitution, :size => 2%></td></tr>
    <tr class="separator"><td colspan="2"></td></tr>
    <tr><td>Dex</td><td><%= f.text_field :dexterity, :size => 2%></td></tr>
    <tr><td>Int</td><td><%= f.text_field :intelligence, :size => 2%></td></tr>
    <tr class="separator"><td colspan="2"></td></tr>
    <tr><td>Wis</td><td><%= f.text_field :wisdom, :size => 2 %></td></tr>
    <tr><td>Cha</td><td><%= f.text_field :charisma, :size => 2%></td></tr>
  </table>