 <table id="character_misc_attributes">
    <tr><td colspan="2">Misc Attributes</td></tr>
    <tr><td>Move modifier</td><td>TODO</td></tr>
    <tr><td>Misc Init mod</td><td><%= f.text_field :misc_initiative_bonus, :size => 3 %></td></tr>
    <tr><td>Armor Check Penalty</td><td><%= f.text_field :armor_check_penalty, :size => 2%></td></tr>
    <tr><td>Max HP</td><td><%= f.text_field :max_hit_points, :size => 3 %></td></tr>
    <tr><td>Healing Surges/day</td><td><%= f.text_field :surges_per_day, :size => 3 %></td></tr>
    <tr><td>Healing Surge value</td><td><%= f.text_field :healing_surge_value, :size => 3 %></td></tr>
  </table>