<h1>Editing character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>
<%= render :partial=>"form_characterheader", :locals => { :f => f } %>
  
<%= render :partial=>"form_abilities", :locals => { :f => f } %>
  
 <%= render :partial=>"form_defences", :locals => { :f => f } %>
  
 <%= render :partial=>"form_attributes", :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>
