<% form_for(@character) do |f| %>
  <%= f.error_messages %>

  <h1>New character for campaign: <%= select 'character', :campaign_id, campaigns %></h1>
  
  <!-- Note: this whole section is ripe for extracting into a partial -->
  <!-- especially when it comes time to write the views for editing a character -->
  
<%= render :partial=>"form_characterheader", :locals => { :f => f } %>
  
<%= render :partial=>"form_abilities", :locals => { :f => f } %>
  
 <%= render :partial=>"form_defences", :locals => { :f => f } %>
  
 <%= render :partial=>"form_attributes", :locals => { :f => f } %>
  <p class="character_form_footer">
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>
