<% content_for(:sidebar) do %>
	<div class="side_header headtext">
		<h1>Vitals</h1>
	</div>
    <div class="side_content area">
      <ul>
        <li><label>Name:</label><%= h @character.name %></li>
        <li><label>Lvl:</label><%= @character.level %></li>
        <li><label>Class:</label><%= h @character.character_class.name %></li>
        <li><label>Aligned:</label><%= @character.alignment %></li>
        <!-- TODO have a quick way to edit XP -->
        <li><label>XP:</label><%= edit_in_place(@character, :experience_points) %></li>
        <li><label>Race:</label><%= h @character.race.name %></li>
        <li><label>Size:</label><%= h @character.race.size %></li>
        <li><label>Gender:</label><%= @character.sex %></li>
        <li><label>Height:</label><%= h @character.height %></li>
        <li><label>Weight:</label><%= h @character.weight %></li>
        <li><label>Speed:</label><%= @character.race.speed %></li>
      </ul>
    </div>
<% end %>

<div>
  <%= link_to 'Edit', edit_character_path(@character) %> |
  <%= link_to 'Back', characters_path %>
</div>



<div class="wrappable" id="character_misc_attributes">
    <h4>Misc Attributes</h4>
    <table>
      <tr id="action_points_row">
        <td>Action Points</td>
        <td>
          <span id="current_action_points"><%= @character.current_action_points %></span>
          <%= link_to_remote "+", 
              {:update => 'current_action_points', :url => add_action_point_url},
              :href => add_action_point_url %>
          <%= link_to_remote "-", 
              {:update => 'current_action_points', :url => remove_action_point_url},
              :href => remove_action_point_url %>
        </td>
      </tr>
      
      <tr><td>Initiative</td><td><%= @character.initiative_modifier %></td></tr>
      <tr><td>Armor Check Penalty</td><td><%= @character.armor_check_penalty %></td></tr>
      <tr><td>Max HP</td><td><%= @character.max_hit_points %></td></tr>
      <tr><td>Current HP</td><td><%= edit_in_place(@character, :current_hit_points) %></td></tr>
      <tr><td>Temp HP</td><td><%= edit_in_place(@character, :temp_hit_points) %></td></tr>
     
      <tr><td>Healing Surges/day</td><td><%= @character.surges_per_day %></td></tr>
      <tr><td>Healing Surge value</td><td><span id="healing_surge_value"><%= @character.healing_surge_value %></span></td></tr>

      <tr><td>Remaining Surges</td><td><span id="current_surges_remaining"><%= @character.current_surges_remaining %></span>
      <%= link_to_remote "+", 
              {:update => 'current_surges_remaining', :url => add_current_surges_remaining_url},
              :href => add_current_surges_remaining_url %>
          <%= link_to_remote "-", 
              {:update => 'current_surges_remaining', :url => remove_current_surges_remaining_url},
              :href => remove_current_surges_remaining_url %>
      
      </td></tr>
      <tr id="heal" class="interaction">
          <td colspan="2">
            <%= link_to_remote "Heal surge amount (+#{@character.healing_surge_value})",
      	                        {:url => {:action=>:heal_healing_surge ,:id=>@character.id} } %>
          </td>
       </tr>
       
       <tr id="damage" class="interaction">
           <td colspan="2">
               <a href="#" onclick="$('damage_form').appear({duration: 0.25}); return false;">DAMAG'D!</a>
               <div id="damage_form" style="display:none;">
                   <% form_remote_tag :url => damage_path(@character) do %>
                        <%= text_field_tag 'amount', '', :size => 4 %><%= submit_tag 'Save' %>
                   <% end %>
                   <a href="#" class="cancel" onclick="$('damage_form').hide(0.25); return false">[hide]</a>
               </div>
           </td>
       </tr>
       
    </table>
</div>

<table class="wrappable" id="character_ability_scores">
  <tr><th>Ability</th><th>Score</th><th>Modifier</th><th>Mod + 1/2 level</th></tr>
  <tr>
    <td>Str</td>
    <td><%= @character.strength %></td>
    <td><%= @character.strength_modifier %></td>
    <td><%= @character.strength_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Con</td>
    <td><%= @character.constitution %></td>
    <td><%= @character.constitution_modifier %></td>
    <td><%= @character.constitution_modifier_with_level %></td>    
  </tr>
  <tr class="separator"><td colspan="3"></td></tr>
  <tr>
    <td>Dex</td>
    <td><%= @character.dexterity %></td>
    <td><%= @character.dexterity_modifier %></td>
    <td><%= @character.dexterity_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Int</td>
    <td><%= @character.intelligence %></td>
    <td><%= @character.intelligence_modifier %></td>
    <td><%= @character.intelligence_modifier_with_level %></td>
  </tr>
  <tr class="separator"><td colspan="2"></td></tr>
  <tr>
    <td>Wis</td>
    <td><%= @character.wisdom %></td>
    <td><%= @character.wisdom_modifier %></td>
    <td><%= @character.wisdom_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Cha</td>
    <td><%= @character.charisma %></td>
    <td><%= @character.charisma_modifier %></td>
    <td><%= @character.charisma_modifier_with_level %></td>
  </tr>
</table>
<br class="clearout" />
<div class="wrappable" id="character_defenses">
  <h4>Defenses</h4>
  <p class="explanatory_text">WARNING: AC calculation does not respect whether or not character is <br/>wearing heavy armor!</p>
  <table>
      <tr style="color: red"><td>AC</td><td><%= @character.armor_class %></td></tr>
      <tr><td>Fort</td><td><%= @character.fortitude_defense %></td></tr>
      <tr><td>Ref</td><td><%= @character.reflex_defense %></td></tr>
      <tr><td>Will</td><td><%= @character.will_defense %></td></tr>  
  </table>
</div>

<table class="wrappable" id="character_skills">
  <tr>
    <td>Bonus</td>
    <td>Skill</td>
    <td>Armor Penalty?</td>
  </tr>
  <% @skills.each do |s| %>
  <tr>
    <td><%= @character.total_skill_bonus s %></td>
    <td><%= h s.name %></td>
    <td><%= s.subject_to_armor_check_penalty? ? 'X' : '' %></td>
  </tr>
  <% end %>
</table>



<br/>
