
<!-- TODO display Curr HP -->
<!-- TODO display a "Heal Me" button -->
<!-- TODO display a "I took damage!" button -->
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'editable' %>
<div>
  <%= link_to 'Edit', edit_character_path(@character) %> |
  <%= link_to 'Back', characters_path %>
</div>
<div id="character_attributes">
  <ul>
    <li><label>Name:</label><%= h @character.name %></li>
    <li><label>Lvl:</label><%= @character.level %></li>
    <li><label>Class:</label><%= h @character.character_class.name %></li>
    <li><label>Alignment:</label><%= @character.alignment %></li>
    <!-- TODO have a quick way to edit XP -->
    <li><label>XP:</label><%= @character.experience_points %></li>
    <li><label>Race:</label><%= h @character.race.name %></li>
    <li><label>Size:</label><%= h @character.race.size %></li>
    <li><label>Gender:</label><%= @character.sex %></li>
    <li><label>Height:</label><%= h @character.height %></li>
    <li><label>Weight:</label><%= h @character.weight %></li>
  </ul>
</div>

<table id="character_ability_scores">
  <tr><th>Ability</th><th>Score</th><th>Modifier</th><th>Mod + 1/2 level</th></tr>
  <tr>
    <td>Str</td>
    <td><%= @character.strength %></td>
    <td><%= @character.strength_modifier %></td>
    <td><%= @character.strength_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Con</td>
    <td><%= @character.constitution %></td>
    <td><%= @character.constitution_modifier %></td>
    <td><%= @character.constitution_modifier_with_level %></td>    
  </tr>
  <tr class="separator"><td colspan="3"></td></tr>
  <tr>
    <td>Dex</td>
    <td><%= @character.dexterity %></td>
    <td><%= @character.dexterity_modifier %></td>
    <td><%= @character.dexterity_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Int</td>
    <td><%= @character.intelligence %></td>
    <td><%= @character.intelligence_modifier %></td>
    <td><%= @character.intelligence_modifier_with_level %></td>
  </tr>
  <tr class="separator"><td colspan="2"></td></tr>
  <tr>
    <td>Wis</td>
    <td><%= @character.wisdom %></td>
    <td><%= @character.wisdom_modifier %></td>
    <td><%= @character.wisdom_modifier_with_level %></td>
  </tr>
  <tr>
    <td>Cha</td>
    <td><%= @character.charisma %></td>
    <td><%= @character.charisma_modifier %></td>
    <td><%= @character.charisma_modifier_with_level %></td>
  </tr>
</table>

<div id="character_defenses">
  <h4>Defenses</h4>
  <p class="explanatory_text">WARNING: AC calculation does not respect whether or not character is wearing heavy armor!</p>
  <table>
      <tr style="color: red"><td>AC</td><td><%= @character.armor_class %></td></tr>
      <tr><td>Fort</td><td><%= @character.fortitude_defense %></td></tr>
      <tr><td>Ref</td><td><%= @character.reflex_defense %></td></tr>
      <tr><td>Will</td><td><%= @character.will_defense %></td></tr>  
  </table>
</div>


<div id="character_misc_attributes">
    <h4>Misc Attributes</h4>
    <table>
      <tr id="action_points_row">
        <td>Action Points</td>
        <td>
          <span id="current_action_points"><%= @character.current_action_points %></span>
          <%= link_to_remote "+", 
              {:update => 'current_action_points', :url => add_action_point_url},
              :href => add_action_point_url %>
          <%= link_to_remote "-", 
              {:update => 'current_action_points', :url => remove_action_point_url},
              :href => remove_action_point_url %>
        </td>
      </tr>
      <tr><td>Speed</td><td><%= @character.race.speed %></td></tr>
      <tr><td>Initiative</td><td><%= @character.initiative_modifier %></td></tr>
      <tr><td>Max HP</td><td><%= @character.max_hit_points %></td></tr>
      <tr><td>Current HP</td><td><%= @character.current_hit_points %></td></tr>
      <tr><td>Healing Surges/day</td><td><%= @character.surges_per_day %></td></tr>
      <tr><td>Healing Surge value</td><td><%= @character.healing_surge_value %></td></tr>
    </table>
</div>

<!--
<div id="character_editable">
  <h4>Editable Fields</h4>
  <table>
    <tr><td>Current HP</td><td><%= edit_in_place(@character, :current_hit_points) %></td></tr>
  </table>

</div>
-->