<h1>Campaign: <%= h @campaign.name %></h1>
<p>
  Description: <%= h @campaign.description %>
</p>
<div id="characters">
<table border=0>
<tr><th>Name</th><th>HP</th><th>surges</th><th>AP</th></tr>
<% @characters.each do |c| %>

<tr><td><%= c.name %></td><td><%= c.current_hit_points%></td><td><%= c.current_surges_remaining%></td><td><%= c.current_action_points %></td></tr>

<% end %>
</table>

</div>
<%= periodically_call_remote :url=>{:action=>:characters, :id=>@campaign.id}, :update=>'characters', :frequency=>30 %>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
