<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Charactr</title>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'editable' %>

<%= stylesheet_link_tag 'scaffold' %>
<%= stylesheet_link_tag 'style' %>
</head>

<body>
<div id="notice"></div>
<div id="header">
		<h1>Charactr</h1>
		<h2></h2>
</div>
<div id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/campaigns">Campaigns</a></li>
		<li><a href="/characters/">Characters</a></li>		
	</ul>
</div>
<div id="wrap">	
	<div id="main">
		<div class="main_content area">
		
		    <p id="flash" class="flash-notice"><%= flash[:notice] %></p>
			<%= yield %>
		</div>
	</div>
	
<%#   BIG UGLY COMMENT!!!	
    <div id="sidebar">
		<div class="side_header headtext">
			<h1>Navigation</h1>
		</div>
		<div class="side_content area">
			<ul>
				<li><a href="#">sublistings</a></li>
				
			</ul>
		</div>
	</div>
	%>
	<div id="sidebar">
    	<%= yield(:sidebar)%>
	</div>
</div>
</body>
</html>
